.sidebar-trigger {
  display: none !important;
}
.ToolIcon_type_checkbox {
  display: none !important;
}
.custom-styles .excalidraw {
  --color-primary:rgb(var(--primary));
}

.custom-styles .excalidraw.theme--dark {
  --color-primary: rgb(var(--primary));
}
